<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Database" value="Data Source=C:\\git\\src\\FinancialManager\\FinancialManagerLibrary\\DataSources\\sqlite\\FinancialManager.db" />
		<add key="APIKey" value="PW20D2R6TX4Y8B5A" />
		<add key="NotificationImageLocation" value="C:\\git\\src\\FinancialManager\\FinancialManager\\Resources\\notificationAlert.png" />
		<add key="StockUpImageLocation" value="C:\\git\\src\\FinancialManager\\FinancialManager\\Resources\\rsz_stockup.png"/>
		<add key="StockDownImageLocation" value="C:\\git\\src\\FinancialManager\\FinancialManager\\Resources\\rsz_stockdown.png"/>
		<add key="LogLocation" value="C:\\Temp\\"/>
	</appSettings>
</configuration>